VITE_SUPABASE_URL=https://mcbfqgyosdklnzbagobp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1jYmZxZ3lvc2RrbG56YmFnb2JwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4OTk4NzIsImV4cCI6MjA5NzQ3NTg3Mn0.sKZHqFDFPXSuvunpzxVHzGL9ro6CgSE8g3eo-4GI-og
VITE_SUPER_ADMIN_EMAIL=cryxtalcfc@gmail.com
VITE_AUTH_REDIRECT_URL=https://yingoh.vercel.app
